#form {
	margin: 0 auto;
	width: 750px;
}

input {
	padding: 10px;
	border-radius: 10px;
	font-size: 1.2em;
	border: 1px sold grey;
	margin-bottom: 10px;
	width: 300px;
}

label {
	float: left;
	padding-top: 10px;
	width: 100px;
}

#submit {
	height: 50px;
	width: 100px;
	margin-left: 100px;
}

#error {
	font-size: 1.3em;
	width: 25%;
	border-radius: 10px;
	background-color: yellow;
	text-align: center;
	margin: 0 auto;
}